/*Modify this file for custom CSS and then compile it: sass mystyle.css mybulma.css*/

@import "sass/utilities/initial-variables";
@import "sass/utilities/functions";

$sapienza: #822434;
$sapienza-invert: findColorInvert($sapienza);
$sapienza_dark: #212121;
$sapienza_dark-invert: findColorInvert($sapienza-dark);
$dark_blue: #1c3cc9;
$dark_blue-invert: findColorInvert($dark_blue);
$dark_red: #771d1d;
$dark_red-invert: findColorInvert($dark_red);


@import "sass/utilities/derived-variables";
$addColors: (
  "sapienza":($sapienza, $sapienza-invert),
  "sapienza_dark":($sapienza_dark, $sapienza_dark-invert),
  "dark_blue":($dark_blue, $dark_blue-invert),
  "dark_red":($dark_red, $dark_red-invert)
);
$colors: map-merge($colors, $addColors);

@import "bulma";
@import "bulma-switch";

//Custom CSS
#logo {
  position: relative !important;
  float: left;
  top: -10px;
  height: 96px !important;
  width: 96px !important;
}

#bug_txt{
  padding: 10px;
}

.custom_footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55px;
  padding: 2px;
  
}

a.has-text-white:hover, a.has-text-white:focus {
  color: black !important;
}