<link rel="stylesheet" href="css/faq.css"><div class="card"><div class="card-content"><div class="content"><h3>Come funziona il calcolo del voto finale (voto di laurea)?</h3><hr noshade>

<p class ='is-size-5'><strong>Il voto finale è a completa discrezione della commissione di laurea</strong>. Tuttavia esistono delle
linee guida che la commissione si è auto-imposta per normare i voti dati. In breve:</p>

<ol>
<li class ='is-size-5'>Il punteggio di partenza è la media ponderata, rapportata a 110 (ovvero <code>(x/30)*110</code>)</li>
<li class ='is-size-5'>A tale media si aggiungono, se si ha diritto:
<ul>
<li class ='is-size-5'><strong>[TRIENNALE]</strong> 3 punti se lo studente si laurea in corso, 2 se entro Marzo oppure 1 se entro il primo anno
fuori corso</li>
<li class ='is-size-5'><strong>[TRIENNALE]</strong> 1 punto se si ha la media di almeno 27</li>
<li class ='is-size-5'><strong>[TRIENNALE]</strong> 1 punto se ha almeno tre lodi oppure ha partecipato al programma Erasmus</li>
<li class ='is-size-5'><strong>[MAGISTRALE]</strong> 1 punto se ci si laurea entro 28 mesi dall'iscrizione</li>
<li class ='is-size-5'><strong>[MAGISTRALE]</strong> 1 punto se si è partecipato al programma Erasmus</li>
</ul></li>
<li class ='is-size-5'>Al voto così calcolato si possono aggiungere da 0 a 9 punti a discrezione della commissione
di laurea.</li>
</ol>

<p class ='is-size-5'>Nota che l'incremento massimo (per il punto 2 e 3 sommati) è pari a 13 punti per la <strong>triennale</strong> e 11 per la <strong>magistrale</strong>.</p>

<p class ='is-size-5'><a href="https://www.studiareinformatica.uniroma1.it/sites/default/files/Calcolo%20voto-laurea%20.pdf">Per ulteriori dettagli fare riferimento al documento presente sul sito ufficiale</a>.</p>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>Che differenza c'è tra tirocinio e tesi?</h3><hr noshade>

<p class ='is-size-5'>La terminologia corretta è <strong>tirocinio</strong> per la triennale (con presentazione
della <em>relazione di tirocinio</em>) e <strong>tesi</strong> per la magistrale (con presentazione della vera e
propria <em>tesi</em>).</p>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>Posso fare un tirocinio in azienda?</h3><hr noshade>

<p class ='is-size-5'>Si! Non c'è alcuna differenza tra un tirocinio interno o esterno. Un tirocinio esterno prevede la
nomina di un <em>tutor</em> interno (futuro <em>relatore</em>), ovvero di un professore che seguirà il lavoro
dello studente con riunioni periodiche, e di un <em>referente</em> all'interno dell'azienda, che dovrà
seguire lo studente nella fase di tirocinio.</p>

<p class ='is-size-5'>Si possono trovare le offerte di tirocinio in diversi modi:</p>

<ul>
<li class ='is-size-5'>Tramite la piattaforma JobSoul</li>
<li class ='is-size-5'>Tramite gli eventi in Sapienza, come l'ITMeeting</li>
<li class ='is-size-5'>Tramite proprie ricerche</li>
</ul>

<p class ='is-size-5'>Qualora l'azienda non dovesse essere essere presente su JobSoul, si può iscrivere in poco tempo.
<a href="https://www.studiareinformatica.uniroma1.it/laurearsi/regolamento-tirocinio">Ulteriori informazioni si trovano nella pagina relativa ai tirocini sul sito ufficiale.</a></p>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>Posso farmi riconoscere un tirocinio già svolto in azienda?</h3><hr noshade>

<p class ='is-size-5'>Di norma, il tirocinio può essere iniziato dopo il completamento dei 130 CFU minimi, e dopo
le procedure burocratiche relative alla piattaforma JobSoul. Tuttavia, per chiarimenti relativi
al caso specifico si può consultare il docente responsabile indicato <a href="https://www.studiareinformatica.uniroma1.it/laurearsi/regolamento-tirocinio">nella pagina del regolamento del tirocinio</a>.</p>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>Per quali questioni mi devo rivolgere alla Commissione Gestione della Didattica (CGD) per quali alla segreteria studenti e per quali direttamente ai docenti?</h3><hr noshade>

<p class ='is-size-5'>La CGD gestisce le problematiche relative a:</p>

<ol>
<li class ='is-size-5'>piani di studio</li>
<li class ='is-size-5'>abbreviazioni di corso (riconoscimento crediti a fronte di trasferimenti, per studenti già laureati, ecc.)</li>
<li class ='is-size-5'>domande di studenti (sostituzione di esami non più attivi, Erasmus, ecc.)</li>
</ol>

<p class ='is-size-5'>L'istruzione delle pratiche di abbreviazione di corso e riconoscimento crediti (anche di quelle richieste in modo informale, prima di immatricolazione o trasferimento) è curata dalla <a href="mailto:mara.lombardi@uniroma1.it">Prof.ssa Lombardi</a> e dal <a href="giuseppe.bonifazi@uniroma1.it">Prof. Bonifazi</a>.
La verifica dei requisiti di ammissione alla laurea magistrale è curata dal <a href="giulio.sciarra@uniroma1.it">Prof. Sciarra</a>.
L'istruzione dei piani di studio è curata dalla <a href="mara.lombardi@uniroma1.it">Prof.ssa Lombardi</a>.
La predisposizione dell’orario è curata dalla Presidenza della Facoltà, con la collaborazione della <a href="mara.lombardi@uniroma1.it">Prof.ssa Lombardi</a>.
L'organizzazione delle sedute di laurea è curata dal <a href="fabio.garzia@uniroma1.it">Prof. Garzia</a></p>

<p class ='is-size-5'>La Segreteria studenti gestisce le problematiche relative a:</p>

<ol>
<li class ='is-size-5'>procedure di immatricolazione e iscrizione agli anni successivi e relative scadenze</li>
<li class ='is-size-5'>procedure di trasferimento da altri corsi di laurea o da altri Atenei</li>
<li class ='is-size-5'>accoglimento delle domande di abbreviazione di corso (riconoscimento crediti, ecc.) e delle domande di studenti in genere (es. part time)</li>
<li class ='is-size-5'>accoglimento delle domande di laurea ed istruzione delle relative pratiche</li>
</ol>

<p class ='is-size-5'>La segreteria studenti della Facoltà di Ingegneria Civile e Industriale è in Città Universitaria (ingresso di Viale Regina Elena). Per gli orari di apertura e recapiti consultare il <a href="http://www.uniroma1.it/didattica/sportelli/segreterie/segreteria-studenti-di-ingegneria">sito della Sapienza</a></p>

<p class ='is-size-5'>I docenti gestiscono le problematiche relative a:</p>

<ol>
<li class ='is-size-5'>attività didattica del corso</li>
<li class ='is-size-5'>materiale didattico</li>
<li class ='is-size-5'>appelli di esame</li>
</ol>

<p class ='is-size-5'>In linea di massima, gli indirizzi e-mail sono nel formato nome.cognome@uniroma1.it; i numeri telefonici si possono rintracciare sul <a href="http://www.uniroma1.it/contatti">sito della Sapienza</a>.</p>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>Dove trovo il bando relativo agli assegni di ricerca?</h3><hr noshade>

<p class ='is-size-5'>I bandi degli assegni di ricerca vengono pubblicati a cura dell’ufficio concorsi sulla pagina web Bandi e Concorsi</p>

<p class ='is-size-5'>Quand’è che il Settore interviene per recuperare un credito dell’Amministrazione?
In caso di esito negativo del tentato recupero stragiudiziale del credito, avviato dapprima da un Dipartimento o comunque ad opera di una struttura periferica dell’Ateneo e successivamente tramite il Settore Recupero Crediti, gli avvocati in servizio presso il Settore Contenzioso Civile, Tributario e Amministrativo-Contabile potranno essere incaricati dell’esperimento, o meno, di ogni utile iniziativa giudiziale (ad es.: ricorso per ingiunzione o atto di citazione, etc.).</p>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>Quale è il termine di prescrizione per recuperare un credito?</h3><hr noshade>

<p class ='is-size-5'>In genere, la prescrizione per il recupero di un credito (ad esempio di natura contrattuale) è quella c.d. ordinaria ossia decennale (cfr art. 2946 c.c.).
Fanno eccezione, i casi di prescrizioni cc.dd. “brevi” e “presuntive”, diverse tra loro a seconda della natura del diritto vantato e disciplinate dagli artt. 2947 e ss del codice civile (quinquennali, triennali, biennali, annuali e c.d. infra annuali che maturano cioè con il decorso di meno di dodici mesi).
Perché un diritto di credito, non si estingua occorre, quindi, che venga interrotto in maniera regolare il decorso temporale della prescrizione, ad esempio, con l’invio di una idonea diffida ad adempiere tramite R.A.R. o P.E.C. presso la residenza (se persona fisica) o la sede legale (se persona giuridica) o presso l’eventuale indirizzo ufficiale di P.E.C. risultante dai pubblici registri.</p>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>Quale è la procedura da seguire se viene notificato a cura di una controparte un ricorso per ingiunzione e pedissequo decreto ingiuntivo e/o un atto di precetto c/o una struttura periferica (non centrale) dell’Università?</h3><hr noshade>

<p class ='is-size-5'>Affinchè sia correttamente eseguita occorre che la notifica avvenga presso la sede legale dell’Ateneo, come noto, sita in Roma, Piazzale Aldo Moro n.5 o presso l’indirizzo P.E.C. ufficiale risultante dall’apposito registro: protocollosapienza@cert.uniroma1.it
Qualsiasi notifica effettuata c/o altro indirizzo o sito P.E.C. non ufficiale è irregolare.
Laddove vengano eseguite notifiche non regolari, le competenti strutture periferiche dovranno operare come segue:</p>

<ul>
<li class ='is-size-5'>se la sorte rivendicata dovesse risultare dovuta, dovranno contattare direttamente il difensore della controparte prospettando la possibilità di pagare il dovuto fatta eccezione per le spese legali relative al decreto ingiuntivo o al precetto che non andranno corrisposte; ciò contestualmente alla rinuncia da parte dell’ingiungente, da acquisire per iscritto, alle pretese, al diritto, agli atti ed all’azione di cui al monitorio o al precetto; </li>
<li class ='is-size-5'>se la sorte dovesse risultare (anche parzialmente) non dovuta o vi fossero altre eccezioni da far valere, dovranno rimettere prontamente l’atto (decreto ingiuntivo o precetto) irritualmente notificato ad ARAL che provvederà ad effettuare e comunicare le proprie valutazioni sul caso.</li>
</ul>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>Entro quanto tempo si deve pagare un decreto ingiuntivo notificato a cura di una controparte contro l’Amministrazione?</h3><hr noshade>

<p class ='is-size-5'>In caso di notifica di un provvedimento monitorio (decreto ingiuntivo) che non si possa o intenda opporre, ai fini del pagamento occorre distinguere due casi:</p>

<ul>
<li class ='is-size-5'>se il provvedimento monitorio è dotato di provvisoria esecuzione, il pagamento va effettuato senza dilazione, al fine di evitare che il decorso del tempo comporti aumenti di interessi e di costi; </li>
<li class ='is-size-5'>se il provvedimento monitorio non è dotato di provvisoria esecuzione, il pagamento può essere effettuato entro 40 gg dalla notifica, ferma restando l’opportunità di corrispondere con tempestività la somma dovuta, al fine di evitare che il decorso del tempo comporti pure in tal ipotesi aumenti di interessi e di costi.</li>
</ul>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>Entro quanto tempo si deve pagare un atto di precetto notificato contro l’Amministrazione a cura di una controparte?</h3><hr noshade>

<p class ='is-size-5'>In caso di notifica di un atto di precetto avverso cui non si possa o intenda proporre opposizione, occorre effettuare il relativo pagamento entro il termine (in genere) di 10 gg, al fine di evitare in mancanza l’inizio dell’esecuzione forzata (ad es., pignoramento), con conseguente aumento di interessi e costi.</p>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>Entro quanto tempo si deve opporre un decreto ingiuntivo notificato a cura di una controparte contro l’Amministrazione?</h3><hr noshade>

<p class ='is-size-5'>Il termine per proporre opposizione avverso un provvedimento monitorio (decreto ingiuntivo) è di 40 gg dalla notifica (cfr art. 641 c.p.c.).
Poiché entro tale termine ARAL dovrà perentoriamente proporre opposizione, è indispensabile che il Dipartimento o la struttura amministrativa coinvolti facciano pervenire con congruo anticipo agli avvocati interni incaricati una dettagliata relazione corredata dalla documentazione completa utili per la redazione dell’atto di opposizione.</p>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>Entro quanto tempo si deve opporre un atto di precetto notificato a cura di una controparte contro l’Amministrazione?</h3><hr noshade>

<p class ='is-size-5'>L’opposizione avverso un atto di precetto va proposta a seconda dei casi:</p>

<ul>
<li class ='is-size-5'>perentoriamente, entro 20 gg dalla notifica del precetto qualora se ne contesti la regolarità formale (cfr art. 617 c.p.c. I comma) (ad es.: errore nei conteggi); </li>
<li class ='is-size-5'>senza termine, qualora si contesti il diritto della parte istante a procedere all’esecuzione forzata e questa, però, non sia ancora iniziata (cfr art. 615 c.p.c. I comma); 
in tale ipotesi 
    - ossia laddove si intenda contestare radicalmente la fondatezza stessa dell’esecuzione forzata (ad es., per la mancanza di un titolo esecutivo, o erroneità del soggetto debitore, etc.) 
    - sarà in ogni caso opportuno proporre senza indugio l’opposizione al fine di evitare il decorso del termine dilatorio di 10 gg per l’inizio dell’esecuzione forzata (ad es., pignoramento), con conseguente necessità di dover opporre anche quest’ultima, con aggravio di costi.</li>
</ul>

<p class ='is-size-5'>Anche in tali casi è indispensabile che il Dipartimento o la struttura amministrativa coinvolti facciano pervenire con la massima tempestività agli avvocati interni incaricati di proporre opposizione una dettagliata relazione corredata dalla documentazione completa utili per la redazione dell’atto di opposizione.</p>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>In quale forma debbono essere trasmessi ad A.R.A.L., al fine di attivare l’azione di recupero, i libri o i registri dell’Amministrazione attestanti un credito dell’Università nei confronti di terzi?</h3><hr noshade>

<p class ='is-size-5'>Al fine di evitare possibili eccezioni sia da parte dei giudici che delle controparti in sede giudiziale, è preferibile che tutti i libri ed i registri che costituiscono le prove scritte dei crediti dell’Amministrazione universitaria avverso terzi e su cui si fondi l’azione di recupero, rechino in calce l’attestazione da parte di un funzionario all’uopo autorizzato o di un notaio che ne attesti la regolare tenuta a norma delle leggi e dei regolamenti ai sensi e per gli effetti dell’art. 635 c.p.c..</p>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>Come deve essere redatta una relazione istruttoria richiesta dagli avvocati per la difesa dell’amministrazione in una causa?</h3><hr noshade>

<p class ='is-size-5'>All’atto del conferimento di un incarico, gli avvocati interni, in genere, provvedono a richiedere alla struttura dell’Ateneo a conoscenza dei fatti di causa la trasmissione di una relazione scritta, al fine di adempiere nel miglior modo al proprio mandato difensivo nell’interesse dell’Amministrazione.
A tale scopo, è necessario che la relazione sia redatta dalla competente struttura nel modo più dettagliato possibile, indicando specificamente ed in maniera chiara i fatti di cui si discute, con l’allegazione di tutta la relativa documentazione atta a provare quanto sostenuto e con l’indicazione di eventuali testimoni disposti a confermare (in giudizio) quanto sostenuto dall’Amministrazione.</p>
</div></div></div><div class="card"><div class="card-content"><div class="content"><h3>Si può diffidare o essere diffidati via P.E.C.?</h3><hr noshade>

<p class ='is-size-5'>Sì. Una diffida ad adempiere inoltrata o ricevuta presso l’indirizzo ufficiale di P.E.C. risultante dai pubblici registri (REGINDE o INI.PEC) ha ex lege il medesimo valore di una formale diffida inoltrata o ricevuta tramite racc. a.r. presso la residenza (se persona fisica) o la sede legale (se persona giuridica).
Alla luce di quanto precede - poiché già la sola mera ricezione da parte del mittente degli avvisi di accettazione e della successiva conferma rendono legalmente perfezionato l’inoltro della P.E.C. nei confronti del destinatario (equivalendo a conoscibilità, senza rilevare de facto che quest’ultimo ne possa quindi avere avuto o meno l’effettiva conoscenza) - è onere di ogni singolo titolare monitorare quotidianamente l’eventuale indirizzo di P.E.C. assegnatogli dall’Amministrazione, al fine di evitare la maturazione di malaugurati effetti pregiudizievoli in danno dell’Ateneo.</p>
</div></div></div><footer class="footer"><div class="content has-text-centered"><p>L'informazione che cercavi non è presente? segnalacela <a href="https://forms.gle/sUYyCSWSCvZmnqnk9">Qui</a> e provvederemo a trovare la risposta ed inserirla nella lista =)</p></div></footer>