<div class="content"><h3>Gruppi e links</h3>

<p class ='is-size-5'>Gruppi</p>

<ul>
<li class ='is-size-5'><a href="https://m.facebook.com/groups/informaticasapienza">Gruppo Facebook</a> ufficioso per gli studenti della facoltà</li>
<li class ='is-size-5'><a href="https://t.me/sapienzafeed">Canale Telegram</a> con Informazioni e Avvisi riguardanti la facoltà, i professori e i corsi</li>
<li class ='is-size-5'><a href="https://t.me/sapienzainformatica">Gruppo Telegram</a> della Facoltà di Informatica (Triennale)</li>
<li class ='is-size-5'><a href="https://t.me/InformaticaSapienzaTeledidattica">Gruppo Telegram</a> della Facoltà di Informatica via telematica (Unitelma)</li>
<li class ='is-size-5'><a href="https://discord.gg/YxENrKk">Server Discord</a> per esercizi e studio di gruppo</li>
<li class ='is-size-5'><a href="https://ecssap.slack.com/">Workspace Slack</a> per gli studenti di Teledidattica "Unitelma"</li>
<li class ='is-size-5'><a href="https://gitlab.com/sapienzastudents/exercises">Pagina GitLab</a> dove sono hostate esercitazioni</li>
<li class ='is-size-5'><a href="https://gitlab.com/sapienzastudents/papers">Pagina GitLab</a> dove sono hostati gli appunti</li>
<li class ='is-size-5'><a href="https://t.me/infostudapp">Gruppo Telegram</a> per il beta testing dell'app di Infostud</li>
</ul>

<p class ='is-size-5'>Informazioni importanti</p>

<ul>
<li class ='is-size-5'><a href="https://www.studiareinformatica.uniroma1.it/laurearsi">Regolamenti e documenti per laurearsi (tirocini e tesi)</a></li>
<li class ='is-size-5'><a href="https://www.studiareinformatica.uniroma1.it/laurearsi/regolamento-tirocinio">Regolamento per i tirocini triennali</a></li>
</ul>

<p class ='is-size-5'>Indirizzi email ufficiali:</p>

<ul>
<li class ='is-size-5'><a href="mailto:segr.didattica@di.uniroma1.it">Email Segreteria Didattica</a>, per domande relative ad esami, corsi, cambi canale, etc.</li>
<li class ='is-size-5'><a href="mailto:segrstudenti.I3S@uniroma1.it">Email Segreteria Studenti</a>, per domande relative a Infostud, Tasse, Bollettini etc.</li>
<li class ='is-size-5'><a href="mailto:infostud@uniroma1.it">Email supporto tecnico Infostud</a> per segnalare malfunzionamenti o eventuali problemi.</li>
</ul>

<h3>Quale segreteria?</h3>

<p class ='is-size-5'>Esistono 3 segreterie per uno studente (vale per quasi tutti i dipartimenti Sapienza):</p>

<ol>
<li class ='is-size-5'><p class ='is-size-5'><strong>Segreteria (amministrativa) studenti</strong> (di facoltà, ovvero I3S): a questa segreteria ci si può rivolgere per problemi verso l'Ateneo, ovvero:</p>

<ul>
<li class ='is-size-5'>Tasse e pagamenti</li>
<li class ='is-size-5'>Appelli laurea non visibili</li>
<li class ='is-size-5'>Part-time, iscrizione, cambio corso</li>
<li class ='is-size-5'>Problemi con Infostud (tipo account bloccato, ISEE errato, etc)</li>
<li class ='is-size-5'>Ritiro pergamena di laurea o documenti sullo status di studente</li>
<li class ='is-size-5'>Altro, che riguarda però l'Ateneo</li>
</ul></li>
<li class ='is-size-5'><p class ='is-size-5'><strong>Segreteria didattica</strong> (di corso/dipartimento): a questa segreteria ci si può rivolgere per problemi di didattica, ad esempio:</p>

<ul>
<li class ='is-size-5'>Problemi con l'erogazione dei corsi</li>
<li class ='is-size-5'>Cambi canale</li>
<li class ='is-size-5'>Modulistica per la laurea</li>
<li class ='is-size-5'>Orari delle lezioni / aule / etc</li>
<li class ='is-size-5'>Altro, che riguarda però il dipartimento o i corsi del dipartimento (triennale in Informatica, magistrale in CS e DS)</li>
</ul></li>
<li class ='is-size-5'><p class ='is-size-5'><strong>Segreteria amministrativa</strong> (di dipartimento, ovvero DI): è la segreteria che si occupa dell'amministrazione (specie economica) del dipartimento. Raramente uno studente si rivolge alla segreteria amministrativa. Infatti i motivi sono:</p>

<ul>
<li class ='is-size-5'>Rimborso per "missioni" (ovvero trasferte per conferenze, convegni, etc)</li>
<li class ='is-size-5'>Burocrazia per il proprio status di dipendente del dipartimento (quindi <strong>non</strong> riguarda gli studenti)</li>
<li class ='is-size-5'>Parte economica e amministrativa per le <strong>borse di studio e collaborazione</strong>, assegni di ricerca e quant'altro, <strong>ma solo quelli erogati dal dipartimento</strong> (ovvero, NON LazioDisco e altre)</li>
</ul></li>
</ol>

<p class ='is-size-5'><strong>Nota importante</strong>: la 1 e la 3 sono diverse, anche se il nome della prima può confondersi con la seconda. Dunque, quando qualcuno vi dice di andare in segreteria amministrativa, verificate esattamente quale sta indicando in quel momento.</p>

<p class ='is-size-5'>Per informazioni sugli orari:</p>

<ul>
<li class ='is-size-5'><strong>Segreteria studenti</strong>: <a href="https://www.uniroma1.it/it/pagina/segreteria-di-ingegneria-dellinformazione-informatica-e-statistica">consulta la sezione sul sito dell'Ateneo</a></li>
<li class ='is-size-5'><strong>Segreteria didattica</strong>: <a href="https://www.studiareinformatica.uniroma1.it/segreteria-didattica">consulta la sezione sul sito del corso di studio</a></li>
<li class ='is-size-5'><strong>Segreteria amministrativa</strong>: in via Salaria, di fianco alla segreteria didattica. In genere si viene convocati per le borse e altro, non ci sono orari per ricevimento pubblico.</li>
</ul>
</div>