<link rel="stylesheet" href="css/resources.css">

<div class="columns">
    <div class="column is-half">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <h3>Sistemi Digitali</h3>
                    <h5>1&deg anno</h5>
                    <hr noshade>
                    <button class="button is-link is-rounded">
                        <a href="https://gitlab.com/sapienzastudents/exercises/-/archive/master/exercises-master.zip?path=Sistemi%20Digitali">Scarica contenuto</a>
                    </button>
                    <button class="button is-success is-rounded">
                        <a href="https://gitlab.com/sapienzastudents/exercises/-/tree/master/Sistemi%20Digitali">Visualizza sorgente</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-half" >
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <h3>Architettura degli elaboratori</h3>
                    <h5>1&deg anno</h5>
                    <hr noshade>
                    <button class="button is-link is-rounded">
                        <a href="https://gitlab.com/sapienzastudents/exercises/-/archive/master/exercises-master.zip?path=Architettura%20elaboratori">Scarica contenuto</a>
                    </button>
                    <button class="button is-success is-rounded">
                        <a target="_blank" href="https://gitlab.com/sapienzastudents/exercises/-/tree/master/Architettura%20elaboratori">Visualizza sorgente</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-half">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <h3>Progettazione di Algoritmi</h3>
                    <h5>2&deg anno</h5>
                    <hr noshade>
                    <button class="button is-link is-rounded">
                        <a href="https://gitlab.com/sapienzastudents/exercises/-/archive/master/exercises-master.zip?path=Progettazione%20di%20Algoritmi">Scarica contenuto</a>
                    </button>
                    <button class="button is-success is-rounded">
                        <a href="https://gitlab.com/sapienzastudents/exercises/-/tree/master/Progettazione%20di%20Algoritmi">Visualizza sorgente</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-half" >
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <h3>Programmazione Web</h3>
                    <h5>3&deg anno</h5>
                    <hr noshade>
                    <button class="button is-link is-rounded">
                        <a href="https://gitlab.com/sapienzastudents/exercises/-/archive/master/exercises-master.zip?path=Programmazione%20web">Scarica contenuto</a>
                    </button>
                    <button class="button is-success is-rounded">
                        <a href="https://gitlab.com/sapienzastudents/exercises/-/tree/master/Programmazione%20web">Visualizza sorgente</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column is-half">
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <h3>Linguaggi e tecnologie per il Web</h3>
                    <h5>3&deg anno</h5>
                    <hr noshade>
                    <button class="button is-link is-rounded">
                        <a href="https://gitlab.com/sapienzastudents/exercises/-/archive/master/exercises-master.zip?path=Linguaggi%20e%20tecnologie%20per%20il%20web">Scarica contenuto</a>
                    </button>
                    <button class="button is-success is-rounded">
                        <a href="https://gitlab.com/sapienzastudents/exercises/-/tree/master/Linguaggi%20e%20tecnologie%20per%20il%20web">Visualizza sorgente</a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-half" >
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <h3>Programmazione di sistemi Multicore</h3>
                    <h5>3&deg anno</h5>
                    <hr noshade>
                    <button class="button is-link is-rounded">
                        <a href="https://gitlab.com/sapienzastudents/exercises/-/archive/master/exercises-master.zip?path=Sistemi%20Multicore">Scarica contenuto</a>
                    </button>
                    <button class="button is-success is-rounded">
                        <a target="_blank" href="https://gitlab.com/sapienzastudents/exercises/-/tree/master/Sistemi%20Multicore">Visualizza sorgente</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>Vuoi contribuire al progetto? scrivici <a href="sapienzahub@gmail.com">Qui</a></p>
    </div>
</footer>