<link rel="stylesheet" href="css/tools.css">
<div class="card">
    <div class="card-content">
        <div class="content">
            <h3>Sistemi Digitali</h3>
            <hr noshade>
            <button class="button is-rounded is-link">Vai al tool</button>
            <button class="button is-rounded is-success"><a href="">Visualizza Sorgente</a></button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <div class="content">
            <h3>Algoritmi</h3>
            <hr noshade>
            <button class="button is-rounded is-link">Vai al tool</button>
            <button class="button is-rounded is-success"><a href="">Visualizza Sorgente</a></button>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <div class="content">
            <h3>Basi di dati</h3>
            <hr noshade>
            <button class="button is-rounded is-link">Vai al tool</button>
            <button class="button is-rounded is-success"><a href="">Visualizza Sorgente</a></button>
        </div>
    </div>
</div>
    
    