<p>Vuoi avere informazioni sull'autore di questa pagina?</p>
<p>Ecco dove puoi trovare maggiori info:</p>

<div class="social"><a href="https://www.alessiogiovannini.com">Portfolio</a></div>  <!--Sito Portfolio -->
<div class="social"><a href="https://gitlab.com/solifugo">GitLab</a></div>  <!--GitLab -->
<div class="social"><a href="https://www.hackerrank.com/solifugo">HackerRank</a></div>  <!--HackerRank -->
