<label class="switch">
<input type="checkbox" id="ca2"/>
<span class="slider"></span>
</label><span id="ca2text" class="txt">Ca2</span><br/>

<span class="txt">Base di partenza</span> 
<input type="text" id="basefrom" class="base" size="2" maxlength="2" value="10"/><span class="error"></span><br>

<span class="txt">Base di arrivo</span>
<input type="text" id="baseto" class="base" size="2" maxlength="2" value="2"/><span class="error"></span><br>

<input type="text" class="num" id="from" placeholder="numero da conventire" maxlength="16"/> <input type="text" class="num" id="to" readonly placeholder="numero convertito"> <br/>
<button id="conv">Converti</button>
