<span class="txt">Base numerica </span><input type="text" id="baseop" class="base" size="2" maxlength="2" /><span name="error"></span> <br/>
<input type="text" class="num" id="op1" placeholder="primo operatore" maxlength="16" /> 
<input type="text" class="num" id="op2"  placeholder="secondo operatore" maxlength="16" /><br/>
<div id="bttns">
    <button id="sum" class="op">+</button> <button id="sub" class="op">-</button> <button id="mul" class="op">x</button> <button id="div" class="op">/</button>
</div>
<input type="text" class="num" id="result" placeholder="risultato" readonly /> 