<div class="content">
    <p class="is-size-3"><i class="fas fa-wrench fa-2x"></i>  Work in Progress <i class="fas fa-wrench fa-2x"></i></p>
</div>
   
    <!-- Trigger/Open The Modal 
    <button id="modal-bttn">About Errors</button>

   

     Modal content 
        <div class="modal-content">
            <span id="close-modal">&times;</span>
            <p><img id="modal-warn" src="resources/img/signal/warning.svg" alt="warning">Se compare questo simbolo si è verificato un errore.. Assicurati di:</p>
            <p>1) Aver inserito solamente numeri;<br/>
               2) Aver inserito una base compresa tra 2 e 16 (inclusi);<br/>
               3) Aver inserito un numero corretto rispetto alla base (Es. 110121 non è in base 2).
            </p>
        </div>
    </div>
-->
